#carouselImage{
	height: 250px;
}

#information_list{
	padding: 0px;
	margin: 0px;
}

#information{
	width: 97%;
	height: 120px;
	position: relative;
	left: 0px;
	right: 0px;
	margin: auto;
	margin-top: 7px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px -3px 3px gainsboro;
	list-style: none;
}
#information_image{
	width: 110px;
	height: 110px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 5px;
	margin: auto;
	border-radius: 5px;
	border: 1px solid gainsboro;
}

#infor-content{
	height: 100%;
	position: absolute;
	right: 10px;
	left: 130px;
	top: 0px;
}

#information_title{
	height: 63px;
	position: absolute;
	top: 20px;
	font-size: 22px;
	color: #404040;
	overflow: hidden;
	line-height: 22px;
}

#information_time{
	position: absolute;
	font-size: 18px;
	color: #707070;
	bottom: 5px;
}
