#header{
	height: 75px;
	background-color:#4d3b3c ;
	position: relative;
}

#back{
	height: 25px;
	width: 25px;
	position: absolute;
	left: 15px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding-top: 8px;
	color: white;
}
#title{
	height: 25px;
	width: 80px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding-top: 8px;
	text-align: center;
	color: white;
	font-size: 20px;
}

li{
	line-height: 40px;
	font-size: 20px;
	position: relative;
}
li span{
	position: absolute;
	width: 200px;
	height: 40px;
	top: 0px;
	bottom: 0px;
	left: 80px;
	right: 0px;
	margin: auto;
	text-align: left;
	font-size: 20px;
	overflow: hidden; 
	text-overflow: ellipsis; 
	display:block;
}