#header{
	height: 75px;
	background-color:#4d3b3c ;
	position: relative;
}

#back{
	height: 25px;
	width: 25px;
	position: absolute;
	left: 15px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding-top: 8px;
	color: white;
}
#title{
	height: 25px;
	width: 80px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding-top: 8px;
	text-align: center;
	color: white;
	font-size: 20px;
}

#collectTable{
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	border-collapse:separate;
	border-spacing:20px;
	margin: auto;
}

#collect{
	width: 40%;
	height: 220px;
	background-color: white;
	position: relative;
	border: 1px solid gray;
	border-radius: 5px;
}

#collectImg{
	width: 80%;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 10px;
	margin: auto;
	border-radius: 50%;
}

#collectText{
	width: 100%;
	height: 20px;
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-size: 22px;
}
