#header{
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	background-color:#4d3b3c ;
    z-index: 10;
}

#search{
	height: 23px;
	width: 23px;
	position: absolute;
	right: 15px;
	bottom: 15px;
	color: white;
}
#title{
	height: 25px;
	width: 80px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding-top: 8px;
	text-align: center;
	color: white;
	font-size: 20px;
}

#screenContnet{
	width: 100%;
	height: 55px;
	position: fixed;
	top: 75px;
	background-color: white;
	box-shadow: 1px 1px 5px #777777;
	z-index: 20;
}

.mui-table-view{
	margin-top: 1px;
	width: 160px;
	height: 54px;
	margin-left: 3px;
}
.mui-table-view-cell.mui-collapse.mui-active {
	margin-top: 0px;
}
.mui-table-view-cell>a:not(.mui-btn) {
	position: relative;
	display: block;
	overflow: hidden;
	margin: -11px -15px;
	padding: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: inherit;
}
#selectA{
	height: 55px;
	padding-top: 18px;
	padding-right: 35px;
	font-size: 18px;
	text-align:center;
}
#selectContent{
	height: 50px;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}
.mui-input-row label{
	width: 100%;
	font-size: 18px;
	padding-top: 15px;
	padding-left: 10px;
}
#selected{
	height: 20px;
	width: 25px;
	position:absolute;
	right: 5px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

#screen{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 55px;
	margin: auto;
}
#displayType{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 10px;
	margin: auto;
}
#clothContent{
	width: 100%;
	margin-top: 135px;
	position: relative;
}
table{
	margin-left: 3px;
	border-collapse:separate;
	border-spacing:8px;
	table-layout:fixed;
}
#cloth{
	width: 200px;
	height: 250px;
	position: relative;
	list-style: none;
	background-color: white;
	border: 1px solid #A9A9A9;
	border-radius: 5px;
	box-shadow: -1px 0px 6px gainsboro;
}
#cloth-image{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 15px;
	right: 0px;
	left: 0px;
	margin: auto;
	border: 1px solid #a9a9a9;
	border-radius: 5px;
}
#cloth-name{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 175px;
	padding-left: 15px;
	font-size: 18px;
	color: black;
}
#cloth-time{
	margin: 0px;
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 16px;
}
#cloth-fabulous{
	width: 25px;
	height: 25px;
	position: absolute;
	right: 41px;
	bottom: 10px;
}
#cloth-fabulous-number{
	width: 20px;
	margin: 0px;
	position: absolute;
	right: 20px;
	bottom: 10px;
	text-align: left;
}
#clothList{
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: relative;
}
#clothLA{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#clothL{
	width: 97%;
	height: 120px;
	position: relative;
	left: 0px;
	right: 0px;
	margin: auto;
	margin-top: 7px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 3px 3px gainsboro;
	list-style: none;
}
#clothImageL{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 10px;
	margin: auto;
	border: 1px solid gainsboro;
	border-radius: 5px;
}
#clothNameL{
	height: 42px;
	position: absolute;
	top: 20px;
	left: 130px;
	text-align: left;
	margin-right: 20px;
	font-size: 22px;
	color: black;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
#clothTime{
	position: absolute;
	bottom: 10px;
	left: 130px;
	font-size: 16px;
}
#clothFabulousL{
	width: 25px;
	height: 25px;
	position: absolute;
	right: 41px;
	bottom: 20px;
}
#clothFabulousNumberL{
	width: 20px;
	margin: 0px;
	position: absolute;
	right: 18px;
	bottom: 18px;
	text-align: left;
}