/*状态栏*/
#statusBar{
	width: 100%;
	height: 25px;
	position: fixed;
	background-color: black;
	z-index: 100;
}

#carouselImage{
	height: 400px;
	margin-top: 25px;
    border-bottom: 1px solid white;
}

#return{
	width: 42px;
	height: 42px;
	position: absolute;
	left: 20px;
	top: 45px;
	z-index: 10;
	background-color: black;
	border-radius: 50%;
	opacity: 0.5;
}

#returnImg{
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 8px;
}

#clothTitleContent{
	height: 130px;
	width: 100%;
	background-color: white;
	box-shadow: 1px 0px 6px gray;
	position: relative;
}
#clothTitle{
	width: 100%;
	height: 68px;
	padding-top: 15px;
	padding-left: 18px;
	padding-right: 10px;
	text-align: left;
	line-height: 26px;
	font-size: 26px;
	color: black; 
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
}
#clothType{
	width: 100%;
	height: 40px;
	margin-top: 20px;
	padding-left: 18px;
	
}
#priceText{
	float: left;
	font-size: 20px;
}
#priceValue{
	float: left;
	font-size: 40px;
	margin-top: -5px;
	color: red;
}
#priceCompany{
	float: left;
	font-size: 20px;
	color: red;
}
#collectImg{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 15px;
	bottom: 15px;
}
#clothInfoContent{
	width: 100%;
	height: 400px;
	margin-top: 25px;
	background-color: white;
	box-shadow: 1px 0px 6px gray;
	padding-top: 15px;
}

#clothInfoText{
	margin-left: 10px;
	font-size: 16px;
	color: gray;
}
#clothInfoTable{
	width: 90%;
	margin: 0 auto;
	border-collapse:separate;
	border-spacing:8px;
}

#clothInfoTable p{
	font-size: 20px;
	float: left;
	color: black;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
#clothInfoContent #text{
	color: gray;
}
#clothSupplierContent{
	height: 80px;
	width: 90%;
	margin: 0 auto;
	
}
#clothSupplierText{
	width: 25%;
	text-align: left;
	margin-left: 8px;
	float: left;
	font-size: 18px;
	color: gray;
}
#clothSupplierValue{
	width: 72%;
	float: left;
	font-size: 20px;
	line-height: 24px;
	color: black;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:3;
	-webkit-box-orient: vertical;
}

#clothFCcontent{
	width: 100%;
	height: 70px;
	position: relative;
}
#fabulousImg{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 10px;
	right: 160px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
#fabulousValue{
	width: 40px;
	height: 20px;
	font-size: 16px;
	position: absolute;
	left: 10px;
	right: 80px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding-top: 5px;
}
#commentImg{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 150px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}
#commentValue{
	width: 40px;
	height: 20px;
	font-size: 16px;
	position: absolute;
	left: 230px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
	padding-top: 5px;
}
#clothRecommendContent{
	width: 100%;
	height: 580px;
	background-color: white;
}
.mui-control-item{
	height: 50px;
	font-size: 20px;
	padding-top: 5px;
	padding-right: 3px;
}
#recommedWorkTable{
	margin-left: 3px;
	border-collapse:separate;
	border-spacing:8px;
	table-layout:fixed;
}
#recommedCostumeTable{
	margin-left: 3px;
	border-collapse:separate;
	border-spacing:8px;
	table-layout:fixed;
}
#recommed{
	width: 200px;
	height: 250px;
	position: relative;
	list-style: none;
	background-color: white;
	border: 1px solid #A9A9A9;
}
#recommed-image{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 15px;
	right: 0px;
	left: 0px;
	margin: auto;
	border: 1px solid #a9a9a9;
}
#recommed-name{
	position: absolute;
	width: 100%;
	height: 40px;
	top: 175px;
	padding-left: 15px;
	font-size: 18px;
	color: black;
}
#recommed-about{
	margin: 0px;
	position: absolute;
	bottom: 10px;
	left: 15px;
	font-size: 16px;
}
#recommed-fabulous{
	width: 25px;
	height: 25px;
	position: absolute;
	right: 41px;
	bottom: 10px;
}
#recommed-fabulous-number{
	width: 20px;
	margin: 0px;
	position: absolute;
	right: 20px;
	bottom: 10px;
	text-align: left;
}