
@font-face {font-family: "iconfont";
  src: url('../../font/iconfont.ttf?t=1509375850189') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app:before { content: "\e605"; }

.icon-cart:before { content: "\e60a"; }

.icon-folder:before { content: "\e61f"; }

.icon-information:before { content: "\e627"; }

.icon-message:before { content: "\e631"; }

.icon-person2:before { content: "\e63a"; }

.icon-clothing:before { content: "\e655"; }

.icon-gird:before { content: "\e672"; }

.icon-my:before { content: "\e690"; }

.icon-home:before { content: "\e696"; }

.icon-pic:before { content: "\e6aa"; }

.icon-tag:before { content: "\e67f"; }

